{% extends 'natura/base.html' %}

{% block main %}

<div class="formularioDesign my-5">
    <h2>Buscar pedido</h2>

    <form action="">
        <div>
            <label for="criterio_nombre">Nombre:</label>
            <input type="text" name="criterio_nombre" maxlength="100" required id="criterio_nombre">
        </div>

        <div class="mt-4">
            <input type="submit" value="Buscar">
        </div>
    </form>
</div>

<ul>
    {% for cliente in clientes %}
    <li>{{cliente}}</li>
    {% endfor %}
</ul>

{% endblock %}